<!DOCTYPE html>
<html lang="vi">
<head>
    <% include partials/head %>
</head>
<body>

    <header class="shop-header container">
        <div class="image-wrap">
            <img class="center" src="images/street-food.jpg">
        </div>
        <div class=image-overlay></div>
        <div class="image-content">
            <h1><%=shopName%></h1>
            <p>123 corner st. gia loc, tay ninh, vn</p>
            <p class="hours"><%=shopNumber%></p>
        </div>
    </header>

    <section class="section shop-products-section">
        <div class="container">
            <div class="row row-product-list">
                <% products.forEach(function(product, i) { %>
                    <div class="col-12 col-products">
                        <div class="row row-product-item">
                            <div class="col-xs-3">
                                <div class="menu-item-img">
                                    <img class="img-fluid img-thumbnail rounded" src="<%=product.productImage%>" alt="...">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="food-description">
                                    <p><span class="food-name" id="food-name"><%= product.productName%></span></p>
                                    <p><span class="food-description"><%=product.productDescription%></p>
                                    <p><span class="price" id="price"><%= product.productPrice%></span>vnd</p>
                                </div>
                            </div>
                            <div class="col-xs-3 align-self-center">
                                <div class="food-select-amount container">
                                    <div class="plus">
                                        <buttton id="<%=product._id%>" onclick="product_click(this.id)">
                                            <i class="fas fa-plus-circle fa-2x"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>

    <footer class="shopping-cart">
        <div class="container">
            <div class="row row-shopping-cart">
                <div class="col-xs-2 col-shopping-cart align-self-end">
                    <button type="button" data-toggle="modal" data-target="#cart-modal" class="shopping-cart-button btn">
                        <i class="fas fa-shopping-cart fa-2x"></i>
                    </button>
                </div>
                <div class="col-xs-6 align-items-center">
                    <button type="button" data-toggle="modal" data-target="#cart-modal" class="shopping-cart-button btn btn-block">
                        Total: $20.00 (2 items)
                    </button>
                </div>
                <div class="col-xs-4 col-shopping-cart align-self-end">
                    <button type="button" data-toggle="modal" data-target="#checkout-modal" class="shopping-cart-button btn">
                        Checkout
                    </button>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="checkout-modal" tabindex="-1" role="dialog" aria-hidden="true" class="cart-modal">
        <div clas="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-xs-10">
                            <h3 class="modal-title">Checkout</h3>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form onsubmit="return false">
                            <label>name</label>
                            <input id="customerName" type="text">
                            <label>number:</label>
                            <input id="customerPhone"type="text">
                            <button id="<%=shopId%>" onclick="submit_order(this.id)" class="btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="cart-modal" tabindex="-1" role="dialog" aria-hidden="true" class="cart-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-xs-10">
                            <h3 class="modal-title" id="exampleModalLongTitle">Shop name</h3>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row modal-total-row align-items-center">
                            <div class="col-10">
                                <h4>Total: <span class="total-qt">(n-items)</span> <span class="total-price">22k</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row cart-items-row">
                            <div class="col-xs-8 align-content-center">
                                <p>product name</p>
                            </div>
                            <div class="col-xs-4">
                                <p>+  n  -</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form method="get" action="/pay">
                        <button type="submit" class="btn-lg">Submit</buttton>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
    var products = [];
    function product_click(clicked) {
        //add this item id to the cart array

        var productName = document.getElementById("food-name").innerHTML;
        var productPrice = document.getElementById("price").innerHTML;

        var orderDetails = {
            id: clicked,
        }

        products.push(orderDetails);

        alert('Product has been added to cart')

        fetch('/testRoute', {
            method: 'post',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({name: 'ricardo', age: 21})
        })
    }

    function submit_order(clicked) {
        //customerName&customerPhone
        // var shopId = document.getElementById("shopId").innerHTML;
        var customerName = document.getElementById("customerName").value;
        var customerPhone = document.getElementById("customerPhone").value;


        // var productPrice = document.getElementById("price").innerHTML;
        //
        var order = {
            shopId: clicked,
            customerName: customerName,
            customerPhone: customerPhone,
            products: products
        }

        fetch('/addorders', {
            method: 'post',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(order)
        })

    }
    </script>

</body>
<% include partials/script %>
</html>
